/* Basic styling for the whole page including font, background image, and color */
html, body {
    height: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Arial, sans-serif', 'Noto Sans', sans-serif; 
    color: #333; 
    line-height: 1.6;
    background-image: url('salka.jpg');
    background-color: #f0f4f8; 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

/* Style for the main container including positioning and text alignment */
.header-container {
    position: relative;
    text-align: center;
    padding: 20px 20px 0; 
}

/* Style for social media icons including positioning and size */
.social-icons {
    position: absolute;
    top: 10px; 
    right: 20px; 
    font-size: 24px;
}

/* Style for social media links including color and margin */
.social-icons a {
    color: #0a9396;
    margin-left: 15px;
}

/* Hover effect for social media icons */
.social-icons a:hover {
    color: #005f73;
}

/* Style for the footer's social media icons including color and adjustment */
.footer-container .social-icons-inline a {
    color: #0a9396;
    margin: 0 5px; /* Adjusted space between icons */
}

.footer-container .social-icons-inline a:hover {
    color: #005f73;
}

/* Animation for hover effect on social media icons */
.social-icons a:hover i {
    transform: rotate(360deg);
    transition: transform 0.5s ease-in-out;
}

/* Common style for several containers including maximum width, margin, and background color */
.container, .home-container, .footer-container {
    max-width: 800px;
    margin: auto;
    padding: 20px; /* Increased padding */
    background-color: rgba(255, 255, 255, 0.95); /* Lighter background for content areas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px; /* Modern, rounded corners */
    box-sizing: border-box;
}

/* Style for the main content container including text alignment and padding */
.home-container {
    text-align: left;
    padding: 2px 40px 40px 40px; /* Adjusted top padding from 40px to 20px */
}

/* Style for the header including color and background color */
header {
    flex-shrink: 0;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    background-color: transparent;
}

/* Style for the header's title including font size, color, and text shadow */
header h1 {
    font-size: 2.8rem; /* Adjusted for modern size */
    color: #0a9396;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: -1px; /* Closer letter spacing for titles */
    margin-top: 10px; /* Adjusted upper margin for more space */
}

/* Style for the subsection's headline */
.home-container h2 {
    color: #0a9396;
    font-size: 2.5rem;
    margin-bottom: 0px;
}

/* Hover effect for elements with the .hover-effect class */
.hover-effect {
    transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;
}

.hover-effect:hover {
    color: #000000;
    transform: scale(1.05) rotate(2deg);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

/* Style for the header's subtitle */
header .subtitle {
    font-size: 20px;
    color: #2a9d8f;
    font-weight: 500;
    margin-top: -45px;
    padding: 5px 0;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border-bottom: 2px solid #2a9d8f;
    display: block;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

/* Style for main headings within the content */
.subheading {
    font-size: 1.8rem; /* Modern size for prominent headings */
    color: #0a9396; /* Same color as 'Welcome' */
    font-weight: 700; /* Bold style to stand out */
    margin-top: 20px; /* Adjusted distance to the element above */
    margin-bottom: 10px; /* Adjusted space to the content below */
    padding-bottom: 5px; /* Less space under the heading */
    border-bottom: 2px solid #0a9396; /* Thinner line for a subtle underline */
    display: block; /* Takes up the entire width */
    line-height: 1.3; /* Improved line spacing for readability */
}

/* Style for subheadings */
.sub-subheading {
    font-size: 1.2rem; /* Custom size for a modern look */
    color: #0a9396; /* Same color as 'Welcome' */
    font-weight: 600; /* Sufficiently bold to differentiate from regular text */
    margin-top: 15px; /* Adjusted distance above */
    margin-bottom: 10px; /* Adjusted distance below */
    text-transform: uppercase; /* CAPITAL LETTERS for a modern touch */
    line-height: 1.4; /* Improved line spacing for readability */
    display: block; /* Takes up the entire width */
    border-bottom: none; /* Removes the underline as desired */
}

/* Style for paragraphs */
p {
    margin-top: 2.5px; /* Slightly reduced upper margin from paragraphs */
    line-height: 1.8;
    font-size: 16px;
}

/* Style for smaller headings */
h5 {
    font-size: 1rem;
    color: #0a9396; /* Custom color to match the site's theme */
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 600;
}

/* Style for rounded images */
.rounded-image {
    width: 50%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
    display: block;
    margin: 5px 20px 20px 20px; /* Increased upper margin for more distance */
    float: right;
}

/* Flexbox container for images */
.image-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adjusted space between images */
    flex-wrap: wrap; /* Allows images to wrap onto the next line on small screens */
}

/* Style for images within .image-container */
.image-container img {
    width: calc(33.333% - 20px); /* Adjusted image width to fit 3 images in a row minus the gap */
    height: auto; /* Preserves the aspect ratio */
    border-radius: 15px; /* Optional: Adds rounded corners to images */
}

/* Style for the navigation menu including position and background color */
nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: transparent;
}

/* Style for the navigation menu's list */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Style for links in the navigation menu */
nav ul li a {
    color: #0a9396;
    text-decoration: none;
    padding: 10px 20px; /* Increased padding for a larger clickable area */
    border-radius: 20px; /* More pronounced rounded corners for a modern appearance */
    transition: background-color 0.3s, transform 0.3s ease;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: #eff6ff; /* Soft background color for links */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* Style for active link in the navigation menu */
nav ul li a.active {
    background-color: #005f73;
    color: #FFF;
}

/* Hover effect for links in the navigation menu */
nav ul li a:hover, nav ul li a.active {
    color: #FFF;
    background-color: #005f73;
    transform: translateY(-2px);
}

/* Style for the footer including color and background color */
footer {
    flex-shrink: 0;
    background-color: transparent;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

/* Style for the footer's container */
.footer-container {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: #293241;
    margin: 0 auto;
}

/* Style for paragraphs in the footer */
.footer-container p {
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    vertical-align: top;
}

/* Style for the main content */
main {
    flex-grow: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

/* Style for email links and phone number display */
.email-link, .phone-hover {
    color: #0a9396;
    text-decoration: none;
    transition: color 0.3s ease, text-shadow 0.3s ease;
    cursor: pointer;
}

/* Style for email link */
.email-link {
    display: inline-block;
    cursor: pointer;
}

/* Default content for email link and its hover effect */
.email-link::before {
    content: "E-post"; /* Default content */
    display: inline;
    color: #0a9396;
}

.email-link:hover::before {
    content: "petermodd@gmail.com"; /* Email displayed on hover */
    color: #005f73;
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
}

/* Style for phone number display */
.phone-hover {
    display: inline-block;
}

/* Default content for phone number display and its hover effect */
.phone-hover::before {
    content: "Telefonnummer";
    display: inline;
    color: #0a9396;
}

.phone-hover:hover::before {
    content: "+46 73 074 1907";
    color: #005f73;
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
}

/* Style for error messages of form fields */
.invalid-feedback,
.empty-feedback {
  display: none;
}

/* Display of error message for invalid form fields */
.was-validated :placeholder-shown:invalid ~ .empty-feedback {
  display: block;
}

.was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
  display: block;
}

/* Style for invalid form fields */
.is-invalid,
.was-validated :invalid {
  border-color: #dc3545;
}

/* Grid style for the contact form */
#contact-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

/* Style for labels within the contact form */
#contact-form label {
    display: block;
    margin-bottom: 5px;
    color: #005f73;
    font-weight: bold;
}

/* Style for text fields and textarea within the contact form */
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 16px;
    font-size: 16px;
    color: #333;
}

/* Style for textarea allowing vertical resizing */
#contact-form textarea {
    height: 150px;
    resize: vertical;
}

/* Style for the submit button in the contact form */
#contact-form button {
    background-color: #0a9396;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

/* Hover effect for the submit button */
#contact-form button:hover {
    background-color: #005f73;
}

/* Style for the loading indicator */
.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}
  
/* Animation for the loading indicator */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  
/* Animation for fields becoming visible */
@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
  
/* Responsive design for screens up to 768px */
@media (max-width: 768px) {
    html, body {
        overflow-y: auto;
        height: auto;
    }

    .container, .home-container, .footer-container {
        padding: 15px;
        margin: 15px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li a {
        font-size: 1.2rem;
        padding: 8px 10px;
        margin-bottom: 5px;
    }

    .image-container img {
        width: 100%; /* Full-width images on smaller screens */
        margin-bottom: 20px; /* Space between stacked images */
    }
}

/* Responsive design for screens up to 480px */
@media (max-width: 480px) {
    .container, .home-container, .footer-container {
        padding: 10px;
        margin: 20px;
    }

    header h1, header .subtitle {
        font-size: 2rem;
        margin-top: 0;
    }
}

.invalid-feedback {
    color: #ff0000;
    font-size: 0.8rem;
    display: none;
}

input:invalid, textarea:invalid {
    border: 2px solid #ff0000;
}

input:valid, textarea:valid {
    border: 2px solid #00ff00;
}

.error {
    color: #dc3545;
    margin-top: 5px;
}

input:invalid, textarea:invalid {
    border: 1px solid #dc3545;
}

/* Improvements to the form's appearance */
#quizForm {
    font-size: 16px;
}

#quizForm h3, #quizForm p {
    font-weight: bold;
    margin-bottom: 10px;
}

#quizForm label {
    font-weight: normal;
    margin-bottom: 5px;
}

#quizForm input[type="text"], #quizForm input[type="email"], #quizForm textarea, #quizForm button {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#quizForm input[type="radio"], #quizForm input[type="checkbox"] {
    margin-right: 5px;
}

#quizForm button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#quizForm button:hover {
    background-color: #45a049;
}

.correct-answer {
    background-color: #d4edda;
    color: #155724;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
}
